body{
    background-color: 03143C;
}
h1{
    color: black;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    text-decoration: underline;
    font-size: 35px;
    padding-left: 20px;
}
img{
    height: 500px;
    width: 800px;
    margin-left: 100px;
    border-radius: 10px;
    margin-top: 20px;
    
}
h2{
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    text-decoration: underline;
    padding-left: 20px;
}
p{
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
}